asgiref
bcrypt
certifi
cffi
chardet
cryptography
defusedxml
distlib
dj-database-url
Django
gunicorn
idna
mysqlclient
oauthlib
Pillow
PyJWT
python3-openid
pytz
requests
requests-oauthlib
six
sqlparse
stripe
urllib3
virtualenv
